.buttonsContainer {
  display: flex;
  gap: 10px;
}

.responseContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;              

}

.imageContainer {
}

.image {
}
.textContainer{
  align-items: center;
}

.code {
}

.text {
}
.info {
}
