.sidebar {
    background-color: #e98a8a;
}

.sidebar.open {
    background-color: antiquewhite;
}

.background {
    background-color: rgba(0, 0, 0, 0.101);
}

.nav {
}

.nav a {
}

.nav a:hover {
}

.nav a.active {
    background-color: rgba(0, 0, 255, 0.222);
}
.close {
}

.close img {
}
