.App {
    --header_height: 60px;
}

.hw {
    display: flex;
    min-width: 1280px;
    padding: 13px 0px 21px 0px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.hwTitle {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    padding: 10px;
}