.button {
}

.disabled {
    color: rgba(11, 11, 240, 0.768);
}

.secondary {
    color: coral;
}

.default {
    color: rgb(35, 255, 35);
}

.red {
    color: rgb(249, 83, 0);
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
