.button {
    padding: 5px 24px;
}

.disabled {
    color: rgba(11, 11, 240, 0.768);
}

.secondary {
    color: blue;
    border: 1px solid blue;
    background-color: #fff;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.default {
    color: white;
    background-color: blue;
    border: none;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.red {
    color: rgb(249, 83, 0);
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
